.navbar {
    display: flex;
    height: 80px;
    justify-content: center;
    background-color: #131313;
    width: 100%;
}
.navbar__header {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 700;
    width: 100%;
}
.navbar__login {
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
}

img.navbar__avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 24%;
}

.container {
    width: 1140px;
    display: flex;
    align-items: center;
}